.navbar-list li {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  position: relative;
}

.navbar-list li div {
  display: flex;
  align-items: center;
  justify-content: center;
}
