<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li
        *ngFor="let tempProductCategory of productCategories"
        [ngClass]="{ selected: tempProductCategory === selectedCategory }"
        (click)="setSelectedCategory(tempProductCategory)"
        routerLink="/category/{{ tempProductCategory.id }}"
        routerLinkActive="active-link"
        class="nav-item"
      >
        <div *ngIf="tempProductCategory.categoryName == 'Books'">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="custom-icon"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0116 16v288a16 16 0 01-16 16c-128 0-177.45 25.81-208 64-30.37-38-80-64-208-64-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0116-16c131.57.59 192 32.84 208 96zM256 160v288"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
            />
          </svg>
        </div>
        <div *ngIf="tempProductCategory.categoryName == 'Coffee Mugs'">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="custom-icon"
            viewBox="0 0 512 512"
          >
            <path
              d="M368 80h64a16 16 0 0116 16v34a46 46 0 01-46 46h-34M96 80h272v192a80 80 0 01-80 80H176a80 80 0 01-80-80V80h0zM64 416h336"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
            />
          </svg>
        </div>
        <div *ngIf="tempProductCategory.categoryName === 'Mouse Pads'">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="custom-icon"
            viewBox="0 0 512 512"
          >
            <path
              d="M416 448H96a32.09 32.09 0 01-32-32V96a32.09 32.09 0 0132-32h320a32.09 32.09 0 0132 32v320a32.09 32.09 0 01-32 32z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
            />
          </svg>
        </div>
        <div *ngIf="tempProductCategory.categoryName === 'Luggage Tags'">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="custom-icon"
            viewBox="0 0 512 512"
          >
            <path
              d="M403.29 32H280.36a14.46 14.46 0 00-10.2 4.2L24.4 281.9a28.85 28.85 0 000 40.7l117 117a28.86 28.86 0 0040.71 0L427.8 194a14.46 14.46 0 004.2-10.2v-123A28.66 28.66 0 00403.29 32z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
            />
            <path d="M352 144a32 32 0 1132-32 32 32 0 01-32 32z" />
            <path
              d="M230 480l262-262a13.81 13.81 0 004-10V80"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
            />
          </svg>
        </div>

        <a>{{ tempProductCategory.categoryName | uppercase }}</a>
      </li>
    </ul>
  </nav>
</div>
