<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    Welcome back {{ userFullName }}!
  </div>
  <a href="#" *ngIf="!isAuthenticated" routerLink="/login">
    <div class="icon-container">
      <i class="fa-solid fa-right-to-bracket custom-icon"></i>
      Login
    </div>
  </a>
  <a href="#" *ngIf="isAuthenticated" (click)="logout()">
    <div class="icon-container">
      <i class="fa-solid fa-arrow-right-from-bracket custom-icon"></i>
      Logout
    </div>
  </a>
  <a href="#" *ngIf="isAuthenticated" routerLink="/members">
    <div class="icon-container">
      <i class="fa-solid fa-user-check custom-icon"></i>
      Member
    </div>
  </a>
  <a href="#" *ngIf="isAuthenticated" routerLink="/order-history">
    <div class="icon-container">
      <i class="fa-solid fa-truck-fast custom-icon"></i>
      Orders
    </div>
  </a>
</div>
