<table class="table">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Units in Stock</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of products">
      <td class="align-middle">
        <img src="{{ item.imageUrl }}" height="50" alt="item_image" />
      </td>
      <td class="align-middle">{{ item.name }}</td>
      <td class="align-middle">{{ item.unitPrice | currency: "USD" }}</td>
      <td class="align-middle">{{ item.unitsInStock }}</td>
    </tr>
  </tbody>
</table>
