<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ tempProduct.id }}">
              <img
                src="{{ tempProduct.imageUrl }}"
                class="img-responsive"
                loading="lazy"
            /></a>
            <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name }}</h1>
            </a>
            <div class="price">
              {{ tempProduct.unitPrice | currency : "USD" }}
            </div>
            <button
              (click)="addToCart(tempProduct)"
              class="btn btn-primary btn-sm"
            >
              Add to cart
            </button>
          </div>
        </div>
        <div
          *ngIf="products?.length === 0"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          No Products Found.
        </div>
      </div>
      <div class="footer-pagination">
        <div
          class="row d-flex pt-2 pb-2 rounded-2"
          style="background-color: #fafafa"
        >
          <div class="col-md-6">
            <ngb-pagination
              [(page)]="pageNumber"
              [pageSize]="pageSize"
              [collectionSize]="totalElements"
              [maxSize]="5"
              [boundaryLinks]="true"
              (pageChange)="listProducts()"
              class="pagination-wrapper"
            ></ngb-pagination>
          </div>
          <div
            class="col-md-6 text-end d-flex align-items-center justify-content-end"
          >
            <span class="mx-3" style="color: #0d6efd">Page Size</span>
            <select
              class="border-0 pt-1 pb-1 text-center rounded-1"
              style="color: #0d6efd; background-color: #fff"
              #myPageSelect
              (change)="updatePageSize($event)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
