<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid product-list-container">
      <div class="row">
        <!-- Skeleton loader for product cards -->
        <ng-container *ngFor="let skeletonProduct of skeletonProducts">
          <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="product-box skeleton">
              <div class="skeleton-title skeleton-bg-color"></div>
              <div class="skeleton-price skeleton-bg-color"></div>
              <div class="skeleton-button skeleton-bg-color"></div>
            </div>
          </div>
        </ng-container>

        <!-- Actual product cards -->
        <div
          *ngFor="let tempProduct of products"
          class="col-12 col-sm-6 col-md-4 col-xl-3"
        >
          <div class="product-box">
            <a routerLink="/products/{{ tempProduct.id }}">
              <img
                src="{{ tempProduct.imageUrl }}"
                class="img-responsive"
                loading="lazy"
            /></a>
            <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name }}</h1>
            </a>
            <div class="price">
              {{ tempProduct.unitPrice | currency : "USD" }}
            </div>
            <button
              (click)="addToCart(tempProduct)"
              class="btn btn-primary btn-style"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="products?.length !== 0" class="footer-pagination">
        <div class="left-pagination">
          <ngb-pagination
            [(page)]="pageNumber"
            [pageSize]="pageSize"
            [collectionSize]="totalElements"
            [maxSize]="5"
            [boundaryLinks]="true"
            (pageChange)="listProducts()"
          ></ngb-pagination>
        </div>
        <div class="right-pagination">
          <span>Page Size</span>
          <select #myPageSelect (change)="updatePageSize($event)">
            <option selected="true">10</option>
            <option>20</option>
            <option>30</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
