/*
 * ----------------------------
 * Common CSS
 * ----------------------------
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 56.25%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.6rem !important;
  line-height: 1.625 !important;
  color: #666 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff !important;
}
ul {
  margin: 0;
}
button,
input[type="button"] {
  cursor: pointer;
}
button:focus,
input:focus {
  outline: 0;
}
input {
  border: none;
}
button {
  border: none;
  background: 0 0;
}
img {
  max-width: 90%;
  height: auto;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.3rem;
}
a {
  display: inline-block;
  text-decoration: none !important;
}
a:active,
a:focus,
a:hover {
  outline: 0;
  transition: all 0.3s;
}
a,
a:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-content-p35 {
  padding: 0 3.5rem;
}
.page-wrapper {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.page-container {
  padding-left: 20rem;
}
.main-content {
  padding-top: 11.6rem;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #05143f;
}
.icon-container:hover {
  color: #0da8e4;
}
.icon-container:hover .total {
  background-color: #0da8e4;
  outline: 1px solid #0da8e4;
}
.icon-container:hover .total span {
  color: #05143f;
}
.custom-icon {
  width: 2.2rem;
  height: 2.2rem;
}
.btn.btn-style {
  font-size: 1.6rem;
}
/*
* ----------------------------
* Header Desktop Section
* ----------------------------
*/
.header-desktop {
  background-color: #fff;
  -webkit-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 20rem;
  height: 7.5rem;
  z-index: 99;
}
.header-desktop .section-content {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.right-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.number {
  padding: 0.6rem 0;
}
.arrows i {
  font-size: 3rem;
  padding: 0.4rem;
}
section {
  position: relative;
}
.section-content {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
.section-content-p30 {
  padding: 0 3rem;
}
.au-input-xl {
  min-width: 50rem;
}
input.au-input.au-input-xl {
  border-radius: 4rem 0 0 4rem !important;
}
.au-input {
  min-width: 26rem;
  line-height: 4.2rem;
  border: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  padding: 0 1.6rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.cart-area.d-n {
  display: flex;
  align-items: center;
  justify-content: center;
}
.total {
  background: #05143f;
  line-height: 2.2rem;
  color: #fff;
  border-radius: 3rem;
  outline: 1px solid #05143f;
  padding-left: 1.2rem;
}
.total span {
  display: inline-block;
  background: #fff;
  padding: 0 1.2rem;
  color: #333;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.au-btn-submit {
  position: relative;
  right: 0;
  min-width: 4rem;
  color: #fff;
  border: 1px solid #205b8d;
  -webkit-border-radius: 0 4rem 4rem 0;
  -moz-border-radius: 0 4rem 4rem 0;
  border-radius: 0 4rem 4rem 0;
  background: #205b8d;
}
.au-btn-submit:hover {
  background: #05143f;
  transition: all 0.3s;
}
.au-btn-submit > i {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*
* ----------------------------
* Left Menu Bar
* ----------------------------
*/
.menu-sidebar {
  width: 20rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(#05143f, #205b8d, #03a9f4, #e5e5e5);
}
.menu-sidebar .logo {
  background: #fff;
  height: 7.5rem;
  padding: 1rem 1rem 1rem 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 9;
}
.menu-sidebar .navbar-list .navbar-sub-list {
  display: none;
  padding-left: 3.4rem;
}
.menu-sidebar .navbar-list .navbar-sub-list li a {
  padding: 1.2rem 0;
}
.menu-sidebar-content {
  position: relative;
  height: -webkit-calc(100vh - 7.5rem);
  height: -moz-calc(100vh - 7.5rem);
  height: calc(100vh - 7.5rem);
}
.navbar-sidebar {
  padding-top: 7rem;
  padding-left: 1.8rem;
}
.navbar-sidebar .navbar-list li {
  color: #fff;
  margin-bottom: 3.2rem;
  cursor: pointer;
  white-space: nowrap;
}
.navbar-sidebar .navbar-list li a {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem;
}
.navbar-sidebar .navbar-list li a i {
  margin-right: 1.8rem;
}
.navbar-sidebar .navbar-list li:hover,
.navbar-sidebar .navbar-list li.selected {
  background-color: #fff;
  color: #0da8e4;
  padding-left: 1.2rem;
  border-radius: 4rem 0 0 4rem;
  transition: padding-left 0.3s;
}
.navbar-sidebar .navbar-list li:hover a,
.navbar-sidebar .navbar-list li.selected a {
  color: #0da8e4;
}
.navbar-list li:hover::after,
.navbar-list li.selected::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0;
  transform: translateY(-50%);
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 100% 0 0 0;
}
.navbar-list li:hover::before,
.navbar-list li.selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 0 0 0 100%;
}
/*
* ----------------------------
* Products List
* ----------------------------
*/
.product-box img {
  width: 15rem;
}
.items select {
  width: 10rem;
  height: 4rem;
  border-radius: 4rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  outline: 0;
  margin-left: 0.5rem;
}
.product-box {
  background-color: #fafafa;
  margin-bottom: 4rem;
  text-align: center;
  box-shadow: 2px 6px 6px #ededed;
  border-radius: 0.8rem;
  padding: 1.2rem;
  height: 30rem;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-box:hover {
  transform: translateY(-1rem);
}
.price {
  margin: 1.5rem 0 0;
  font-weight: 800;
  color: #0da8e4;
}
.product-box h1 {
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  padding-top: 1.2rem;
  margin-bottom: 0.7rem;
}
.product-box h2 {
  font-size: 1.5rem;
  padding-bottom: 0;
  font-weight: 500;
  color: #585858;
}
.product-box.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f0f0f0;
  box-shadow: none;
}
.product-box.skeleton::before {
  content: "";
  display: block;
  width: 12rem;
  height: 12rem;
  background-color: #e0e0e0;
  margin: 0.5rem auto 2.2rem;
  border-radius: 0.8rem;
}
.product-box.skeleton .skeleton-title {
  height: 4.2rem;
  width: 60%;
}
.product-box.skeleton .skeleton-price {
  height: 3.6rem;
  width: 30%;
}
.product-box.skeleton .skeleton-button {
  height: 3.6rem;
  width: 35%;
  border-radius: 4px;
}
.skeleton-bg-color {
  background-color: #e0e0e0;
}
@keyframes skeleton-loading {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}
.product-box.skeleton {
  animation: skeleton-loading 1.5s infinite;
}
/*
* ----------------------------
* Shopping Cart Checkout
* ----------------------------
*/
.checkout-container {
  width: 60% !important;
  padding-top: 5% !important;
  margin: 0 auto !important;
}
.form-area {
  background-color: #05143f;
  color: #cdd0d9;
  position: relative;
  margin-bottom: 8.2rem;
  padding: 5rem 2rem;
  border: 2px solid #05143f;
  border-radius: 0.8rem;
}
.shippingAddress-form {
  margin-bottom: 5.6rem;
}
.form-area h3 {
  position: absolute;
  top: -2.6rem;
  left: 1.3rem;
  background-color: #05143f;
  color: #0da8e4;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  font-weight: 500;
  z-index: 99;
  display: inline-block;
}
.input-space {
  margin-bottom: 2rem;
}
.input-space label {
  padding-left: 3.2rem;
  font-size: 1.6rem;
  color: #05143f;
  margin-bottom: 6.8rem;
}
.input-space input[type="text"],
.input-space select {
  width: 100%;
  height: 4rem;
  outline: 0;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #0da8e4;
  border-radius: 1.2rem;
}
.au-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.au-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.au-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.2rem;
  width: 2.2rem;
  background-color: #fff !important;
  border: 2px solid #05143f;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.au-checkbox:hover input ~ .au-checkmark {
  background-color: transparent;
  transition: all 0.3s;
}
.au-checkbox input:checked ~ .au-checkmark {
  background-color: #fff;
}
.au-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.au-checkbox input:checked ~ .au-checkmark:after {
  display: block;
}
label.date {
  padding-top: 0.8rem;
}
.au-checkbox .au-checkmark:after {
  left: 5px;
  top: -1px;
  width: 0.9rem;
  height: 1.5rem;
  border: solid #0da8e4;
  border-width: 0 4px 4px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
option:first {
  color: #ccc;
}
select {
  color: #828482;
}
.submit-container {
  margin-bottom: 8rem !important;
}
/*
* ----------------------------
* Shopping Cart Details
* ----------------------------
*/
.table {
  margin: 0;
}
table.table.table-bordered {
  border: 1px solid #ccc;
  background: #fff;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}
table.table.table-bordered th {
  background: #0da8e4;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.7rem;
}
.table-responsive {
  padding-right: 1px;
}
.items select {
  width: 10rem;
  height: 4rem;
  border-radius: 4rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  outline: 0;
  margin-left: 0.5rem;
}
.skeleton-table {
  width: 100%;
}
.skeleton-line {
  height: 2rem;
  background-color: #e0e0e0;
  opacity: 0.6;
  height: 3.6rem;
  margin-top: 0.4rem;
}
@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.skeleton-line {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.7s infinite;
}
/*
* ----------------------------
* Product Details
* ----------------------------
*/
.detail-section {
  margin-top: 8rem;
  padding: 4rem;
}
.product-detail-container {
  box-shadow: 2px 6px 12px #05435b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 0 12px !important;
}
.left-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-detail h3 {
  font-size: 2.8rem;
  margin-top: 8px;
}
.detail-img {
  width: 34%;
}
.price {
  margin: 1.5rem 0;
  font-weight: 700;
  color: #0da8e4;
}
.right-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.right-detail h4 {
  font-size: 2.6rem;
  font-weight: 600;
}
.right-detail p {
  font-size: 2rem;
}
.right-detail a {
  font-size: 1.8rem;
  font-weight: 500;
  align-self: center;
  margin-bottom: 12px;
}
/*
* ----------------------------
* Buttons
* ----------------------------
*/
.btn-info {
  color: #fff;
  background-color: #0da8e4 !important;
  box-shadow: 2px 6px 6px #05435b;
  border: none !important;
  font-size: 2.4rem !important;
}
.btn-info:hover {
  background-color: #f88c21 !important;
  color: #fef4e9 !important;
}
a.primary-btn {
  background: #05143f;
  padding: 0.7rem 2rem;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
a.primary-btn:hover {
  background: #0da8e4;
  color: #fff;
  transition: all 0.3s;
}
.active-link {
  font-weight: bold;
}
/*
* ----------------------------
* Footer section
* ----------------------------
*/
footer ul li a {
  color: #05143f;
}
footer {
  background: #e5e5e5;
  position: relative;
  height: 32px;
  width: 100%;
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer li a {
  color: #313131;
  font-weight: 500;
}
footer ul {
  margin: 0;
}
footer ul li {
  display: inline-block;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}
/*
* ----------------------------
* Media Queries
* ----------------------------
*/
/* BELOW 1344px (Smaller desktops) */
@media (max-width: 84rem) {
  html {
    font-size: 50%;
  }
  .header-desktop .section-content {
    padding: 0 1.6rem;
  }
}
/* BELOW 1224px (Landscape Tablets) */
@media (max-width: 76.5rem) {
  html {
    font-size: 43.75%;
  }
}
/* BELOW 944px (Tablets) */
@media (max-width: 59em) {
  html {
    font-size: 37.5%;
  }
  .login-status-header {
    max-width: 360px;
  }
}
/* BELOW 767px  */
@media (max-width: 47.94rem) {
  html {
    font-size: 43.75%;
  }
  .main-content {
    padding-top: 16.2rem;
    /* padding-left: 6rem; */
  }
  .page-container {
    padding: 0 1.2rem;
  }
  .header-desktop {
    left: 0;
  }
  .header-wrap {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding: 2rem 0;
    background-color: #fff;
  }
  .header-desktop {
    box-shadow: none;
    height: 14.6rem;
  }
  .right-header {
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 7.5rem;
    justify-content: space-between;
    padding: 0 1.2rem;
  }
  .login-status-user-info {
    font-weight: 600 !important;
  }
  /* .menu-sidebar {
    width: 6rem;
    margin-top: 8rem;
    z-index: 999;
  } */
  /* .navbar-sidebar .navbar-list li a {
    color: transparent;
  } */
  /* .navbar-list li div {
    margin: 1.8rem 0;
  } */
  .navbar-sidebar .navbar-list li:hover,
  .navbar-sidebar .navbar-list li.selected {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }
  .navbar-list li.selected::after,
  .navbar-list li:hover::after,
  .navbar-list li.selected::before,
  .navbar-list li:hover::before {
    display: none !important;
  }
  .right-header .logo img {
    width: 12rem;
    max-width: none;
  }

  .detail-section {
    margin-top: 13rem;
    padding-left: 9.2rem;
  }
  /**/
  .menu-sidebar-content {
    height: 100%;
    width: 100%;
  }
  .navbar-sidebar {
    padding: 0;
  }
  .mobile-nav {
    height: 8rem;
    width: 100vw;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 20, 63, 0.8);
    transition: transform 0.5s ease;
    transform: translateY(0);
  }
  .mobile-nav.hidden {
    transform: translateY(100%);
  }
  .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar-sidebar .navbar-list li {
    margin-bottom: 0;
    padding: 1.2rem 0;
  }
  .navbar-sidebar .navbar-list li a {
    font-weight: 400;
  }
}
/* BELOW 576px  */
@media (max-width: 36rem) {
  html {
    font-size: 37.5%;
  }
  .login-status-header {
    width: 260px !important;
    gap: 8px !important;
  }
  .login-status-user-info {
    font-weight: 500 !important;
  }
}
/* BELOW 440px */
@media (max-width: 27.5rem) {
  .login-status-header {
    width: auto !important;
  }
  .login-status-user-info {
    display: none;
  }
}
